* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
}

header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    padding: 10px 10%;
}

nav {
    width: 100%;
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 0px;
    position: relative;
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
}

nav ul li a {
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
    color: white;
}

nav ul li a:hover {
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
}

nav ul ul {
    position: absolute;
    top: 50px;
    opacity: 0;
    visibility: hidden;
    transition: top .75s;
}

nav ul li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    position: relative;
    width: 150px;
    float: none;
    display: list-item;
}

.show,
.icon,
input {
    display: none;
}

@media (max-width: 952px) {
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    nav ul {
        margin-right: 0px;
        float: left;
    }
    nav ul li,
    nav ul ul li {
        display: block;
        width: 100%;
    }
    nav ul ul {
        top: 70px;
        margin-top: 1rem;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    nav ul ul a {
        padding-left: 40px;
    }
    .show {
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    .show:hover {
        color: cyan;
    }
    .icon {
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }
    nav ul li label:hover {
        color: cyan;
        border-radius: 5px;
        box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
    }
    .show+a,
    ul {
        display: none;
    }
    [id^=btn]:checked+ul {
        display: block;
    }
}